/*Google font*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');


/* reset  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


div.container {
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    max-width: 1440px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url('./images/bg-pattern.svg');
    background-repeat: no-repeat;
    background-color: hsl(230, 100%, 99%);
}

/* common style for text */

h1 {
    font-weight: bolder;
    font-size: 28px;
    margin: 1vh;
    color: hsl(227, 35%, 25%);
}

p {
    color: hsl(225, 20%, 60%);
}

/* loading animation */

@keyframes displayMain {
    0% {
     transform: scale(4);
     opacity: 0%;
 }
 
     50% {
         opacity: 0%;
     }
     75%, 100%{
     transform: scale(1);
     opacity: 100%;
 }
 
     80% {
         transform: scale(1.05);
     }
 }

/* header style */

header.header{
    height: 30%;
    width: 80%;
    background-image: url('./images/pattern-circles.svg');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: 800ms ease-in-out displayMain;
}

/* main box */
main.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 560px;
    height: 50%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    animation: 800ms ease-in-out displayMain;
}

/* form style */

form.rangeForm {
    width: 100%;
    height: 70%;
    border-bottom: 2px solid hsl(230, 100%, 99%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

div.headerForm {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* page and price position */
div.dataBox {
    display: flex;
    align-items: center;
}

/* pageviews style */
.viewText {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bolder;
    color: hsl(225, 20%, 60%);
}

/* price style */

div.priceBox p {
    font-size: 16px;
}

#price {
    font-size: 40px;
    padding-right: 10px;
    font-weight: bolder;
    color: hsl(227, 35%, 25%);
}

/* range style */

div.range {
    display: inline-block;
    position: relative;
    width: 80%;
    max-width: 500px;
    height: 10px;
}

input[type="range"] {
    --bgcolor: hsl(174, 86%, 45%);
    --shadowcolor: hsl(174, 77%, 80%);
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    border: 1px solid white;
    width: 100%;
    max-width: 500px;
    height: 10px;
    background-color: transparent;
    border-radius: 5px;
  }

/* background slide bar */ 

.fillBar {
    position: absolute;
    width: 50%;
    height: 10px;
    left: 0;
    border-radius: 5px;
    background-color: var(--bgcolor);
    transition: all 200ms ease-in-out;
}

.lowerFill {
    position: absolute;
    height: 10px;
    width: 100%;
    right: 0;
    border-radius: 5px;
    background-color: hsl(224, 65%, 95%);
    pointer-events:none;
}

.fillMonth{
    background-color: hsl(174, 77%, 80%);
}

.fillYear {
    background-color: hsl(17, 84%, 85%);
}

/* style thumb */ 

input[type="range"]::-webkit-slider-thumb {
    position: relative;
    z-index: 1;
    -webkit-appearance: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-image: url("./images/icon-slider.svg");
    background-color: var(--bgcolor);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px 5px var(--shadowcolor);
    transition:  200ms ease-in-out;
  }

input[type="range"]::-webkit-slider-thumb:active {
    background-color: #23ADA1;
  }

/* mozilla thumb  & track version */

input[type=range]::-moz-range-track {
    width: 100% ;
    height: 10px;
    cursor: pointer;
    background: none transparent;
    border-radius: 5px;
    border: 0px solid rgba(0, 0, 0, 0);
    position: relative;
    left: 0;
    z-index: -1;
  
  }

input[type=range]::-moz-range-thumb {
    position: relative;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-image: url("./images/icon-slider.svg");
    background-color: var(--bgcolor);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px 5px var(--shadowcolor);
}

input[type=range]::-moz-range-thumb:active {
    background-color: #23ADA1;
}


/* toggle switch part */

div.toggleSwitch {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 500px;
    font-weight: lighter;
    font-size: 13px;
}

.toggleSwitch p {
    margin: 0 20px ;
}

.switch {
    position: relative;
    width: 40px;
    height: 20px;
    background-color:  hsl(174, 86%, 45%);
    border-radius: 50px;
}

.switch input {
    width: 0;
    height: 0;
    opacity: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
    border-radius: 50px;
    transition: 400ms ease-out;
}

.slider::before {
    position: absolute;
    top: 3.5px;
    left: 3.5px;
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: white;
    transition: 400ms ease-out;
}

input:checked + .slider {
    background-color: #FAB49F;
}


input:checked + .slider::before {
    transform: translateX(23.5px);
    left: 0;
    right: 3.5px;
}

.discount::after {
    position: absolute;
    content: "25% discount";
    font-size: 11px;
    margin-left: 10px;
    top: 0;
    font-weight: bolder;
    color: hsl(15, 100%, 70%);
    background-color: hsl(14, 92%, 95%);
    padding: 3px 8px;
    border-radius: 20px;
}


/* informations part */ 

div.information {
    width: 80%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul.advantages {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 13px;
    color: hsl(225, 20%, 60%);
}

.advantages li::before {
    content: url('./images/icon-check.svg');
    margin-right: 5%;
}

.btnTrial {
    width: 50%;
    max-width: 160px;
    color: hsl(226, 100%, 87%);
    cursor: pointer;
    font-size: 13px;
    border: none;
    padding: 10px;
    border-radius: 40px;
    background-color:  hsl(227, 35%, 25%);
    transition: all 200ms ease-in-out;
}

.btnTrial:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px 3px  hsl(174, 77%, 80%);
}


/* Tablet screen*/

@media screen and (max-width:768px) {

    .discount::after {
        content: "-25%";
    }
}

/* Mobile screen */
@media screen and (max-width: 600px) {
    
    div.container {
        position: relative;
        max-width: 540px;
        font-size: 12px;
        margin: 10px auto;
    }

    h1 {
        font-size: 20px;
    }

    header.header p {
        padding: 10px 70px;
        font-size: 12px;
    }

    main.main {
        height: 70%;
    }
    
    /* modification position of price and range slider */ 
    form.rangeForm {
        position: relative;
        height: 60%;
    }

    div.headerForm {
        height: 55%;
        flex-direction: column;
        margin-top: 10px;
    }

    div.range {
        position: absolute;
        top: 35%;

    }

    /* adjust fontsize */
    div.priceBox p {
        font-size: 13px;
    }
    
    #price {
        font-size: 30px;
    }

    .viewText {
        font-size: 12px;
    }

    .toggleSwitch p {
        font-size: 12px;
        margin: 10px;
    }

    .discount::after {
        font-size: 9px;
        margin-left: 3px;
        padding: 2px 6px;
        top: 11px;
    }

    /* ajdust information and btn part */ 
    div.information {
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 40%;
    }

    ul.advantages {
        width: 100%;
        height: 50%;
        text-align: center;
        font-size: 12px;
    }

    .btnTrial {
        margin-bottom: 10px;
    }

}





